<!-- Issues part -->
<div class="card-panel issue">
    <h3>Issues</h3>
    {{#if issues }}
        <ul id="issues_ul">
            {{#each issues}}
                <!--For each snippet in the array -->
            <li class="card-panel" id={{id}}> Title:     {{title}}       <br>
                Body:       {{issueBody}}   <br>
                Comments:   {{comments}}    <br>
                URL:        {{issueUrl}}    <br>
                Created at: {{created_at}}  <br>
                Updated at: {{updated_at}}  <br>
            {{/each}}
        </ul>
    {{else}}
        <!--If the issues array is empty -->
        There are no issues to show.
    {{/if}}
</div>

<!-- Notifications part -->
<div class="card-panel notification">
    <h3>Notifications</h3>
    <ul id="notification_ul">

    </ul>
</div>